<?xml version="1.0"?>

<launch>
  
  <!-- Spawn coordinates -->
  <arg name="spawn_pos_x" default="0.000"/>
  <arg name="spawn_pos_y" default="0.000"/>
  <arg name="spawn_pos_z" default="0.000"/>

  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

    <!-- Empty world: spawn sun and ground plane -->
  <include file="$(find oculus_gazebo_navigator)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find oculus_gazebo_navigator)/worlds/empty.world"/>
  </include>

  <!-- Camera Navigation Settings: -->
  <rosparam file="$(find oculus_gazebo_navigator)/config/oculus_config.yaml" command="load" ns="oculus_gazebo_navigator" />

  <!-- Oculus Rift Virtual Camera (Keyboard Teleop) -->

  <param name="spawn_camera" command="$(find xacro)/xacro.py $(find oculus_gazebo_navigator)/models/camera_keyboard_teleop.sdf" />

  <node pkg="gazebo_ros" type="spawn_model" name="oculus_gazebo_camera" args="-sdf -param spawn_camera -model camera -x $(arg spawn_pos_x) -y $(arg spawn_pos_y) -z $(arg spawn_pos_z)" respawn="false" output="screen"/>

</launch>
