<?xml version="1.0"?>

<launch>

  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

    <!-- Empty world: spawn sun and ground plane -->
  <include file="$(find oculus_gazebo_navigator)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(find oculus_gazebo_navigator)/worlds/empty.world"/>
  </include>

  <!-- Oculus Rift Virtual Camera (PS3 Controller Teleop) -->

  <param name="spawn_camera" command="$(find xacro)/xacro.py $(find oculus_gazebo_navigator)/models/camera_ps3_teleop.sdf" />

  <!-- Spawn coordinates -->
  <arg name="spawn_pos_x" value="6.363270"/>
  <arg name="spawn_pos_y" value="-3.420501"/>
  <arg name="spawn_pos_z" value="10.356117"/>

  <node pkg="gazebo_ros" type="spawn_model" name="oculus_gazebo_camera" args="-sdf -param spawn_camera -model camera -x $(arg spawn_pos_x) -y $(arg spawn_pos_y) -z $(arg spawn_pos_z)" respawn="false" output="screen"/>

</launch>
